<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.payguard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ca.payguard.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity android:name="ca.payguard.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ca.payguard.Pin" />
        <activity android:name="ca.payguard.TapCard" />
        <activity
            android:name="ca.payguard.MainActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name="ca.payguard.Payment" />
        <activity android:name="ca.payguard.EditPaymentActivity" />
        <activity android:name="ca.payguard.EmailConfirmation" />
        <service android:enabled="true" android:name="ca.payguard.util.ControllerService"/>
    </application>

</manifest>